.body {
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777;
}

.navbar {
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 15px !important;
  letter-spacing: 2px;
  opacity: 0.9;
  border-radius: 0px;
   }
